{% extends "calc/base_calc.html" %}
{% load i18n %}
{% load names %}

{% block title %}
    {{ block.super }} – {{ orderoption|verbose_name }} {{ orderoption.order.pk }}: {{ orderoption.service.equipment }}
{% endblock %}

{% block calc_header %}
    <h5>{{ orderoption|verbose_name }} {{ orderoption.order.pk }}: {{ orderoption.service.equipment }}</h5>
{% endblock %}

{% block calc_button %}
    <a href="{{ orderoption.get_update_url }}" class="button">{% trans "Edit" %}</a>
    <a href="{{ orderoption.get_delete_url }}" class="button">{% trans "Delete" %}</a>
{% endblock %}

{% block calc_content %}
    <article>
        <div class="row">
            <div class="one column"></div>
            <div class="ten columns">
                <dl>
                    <dt><strong>{% field_verbose_name orderoption 'order' %}:</strong></dt>
                    <dd>{{ orderoption.order.pk }}</dd>
                    <dt><strong>{% field_verbose_name orderoption 'service' %}:</strong></dt>
                    <dd>{{ orderoption.service.equipment }}</dd>
                    <dt><strong>{% trans "Price" %}:</strong></dt>
                    <dd>{{ orderoption.service_price }}</dd>
                    <dt><strong>{% field_verbose_name orderoption 'quantity' %}:</strong></dt>
                    <dd>{{ orderoption.quantity }}</dd>
                    <dt><strong>{% field_verbose_name orderoption 'price' %}:</strong></dt>
                    <dd>{{ orderoption.price }}</dd>
                </dl>
            </div>
        </div>
    </article>
{% endblock %}
