{% extends "calc/base_calc.html" %}
{% load staticfiles %}
{% load i18n %}
{% load django_tables2 %}
{% load names %}
{% load forms %}

{% block title %}
    {{ block.super }} - {{ view.model|verbose_name_plural }}
{% endblock %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'site/css/jquery-ui.min.css' %}">
    <script type="text/javascript" src="{% static 'site/js/jquery-ui.min.js' %}" defer></script>
{% endblock %}

{% block calc_header %}
    <h2>{{ view.model|verbose_name_plural }}</h2>
{% endblock %}

{% block calc_button %}
    <a href="{% url 'calc:order:list_pdf' %}?{{ request.GET.urlencode }}" class="button">{% trans "PDF" %}</a>
    <a href="{% url 'calc:order:create' %}" class="button button-primary">{% trans "Create" %}</a>
{% endblock %}

{% block calc_content %}
    {% if filter %}
        {% filter_table_form filter %}
    {% endif %}
    {% if table %}
        {% trans "Delete" as action_verbose %}
        {% action_table_form table button_class='button button-primary' action_verbose=action_verbose %}
    {% endif %}
    {% if filter %}
        <script type="text/javascript" src="{% static 'site/js/order-list.js' %}" defer></script>
        <script type="text/javascript" src="{% static 'site/js/datepicker-ru.js' %}" defer></script>
    {% endif %}
{% endblock %}
