{% extends "calc/base_calc.html" %}
{% load i18n %}
{% load django_tables2 %}
{% load names %}

{% block title %}
    {{ block.super }} – {{ order|verbose_name }}: {{ order.pk }}
{% endblock %}

{% block calc_header %}
    <h5>{{ order|verbose_name }}: {{ order.pk }}</h5>
{% endblock %}

{% block calc_button %}
    <a href="{{ order.get_pdf_url }}" class="button button-primary">{% trans "PDF" %}</a>
    <a href="{{ order.get_update_url }}" class="button">{% trans "Edit" %}</a>
    <a href="{{ order.get_delete_url }}" class="button">{% trans "Delete" %}</a>
{% endblock %}

{% block calc_content %}
    <article>
        <div class="row">
            <div class="one column"></div>
            <div class="five columns">
                <dl>
                    <dt><strong>{% field_verbose_name order 'author' %}:</strong></dt>
                    <dd>{{ order.author.get_full_name }}</dd>
                    <dt><strong>{% field_verbose_name order 'client' %}:</strong></dt>
                    <dd><a href="{{ order.client.get_absolute_url }}">{{ order.client }}</a></dd>
                    <dt><strong>{% field_verbose_name order 'factor' %}:</strong></dt>
                    <dd>{{ order.factor }}</a></dd>
                    <dt><strong>{% trans "Price" %}:</strong></dt>
                    <dd>{{ order.price }}</dd>
                </dl>
            </div>
            <div class="five columns">
                <dl>
                    <dt><strong>{% field_verbose_name order 'created' %}:</strong></dt>
                    <dd>{{ order.created }}</dd>
                    <dt><strong>{% field_verbose_name order 'modified' %}:</strong></dt>
                    <dd>{{ order.modified }}</dd>
                </dl>
            </div>
        </div>
        <h5>{% field_verbose_name order 'services' %}</h5>
        {% render_table table %}
    </article>
{% endblock %}
