{% load i18n %}
{% load django_tables2 %}
{% load names %}

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="static/site/css/style_pdf.css">
        <title>{{ view.model|verbose_name_plural }}</title>
    </head>
    <body>
        <div id="header_content">
            <div align="right">
                {% trans "Document created" %}: {% now "j E Y H:i" %}
            </div>
        </div>
        <div align="center" style="margin: 10px">
            <img  height="50px" src="static/site/images/logo.png"/>
            <h2>Пром-Спектр</h2>
        </div>
        {% if filter %}
            {% trans "no" as empty_filter_value %}
            <h4>{% trans 'Filter options:' %}</h4>
            <table>
                <thead>
                    <tr>
                        {% for field in filter.form.visible_fields %}
                            <th>{{ field.label }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for field in filter.form.visible_fields %}
                            <td>
                                {{ field.value|default:empty_filter_value }}
                            </td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        {% endif %}

        <h4>{{ view.model|verbose_name_plural }}:</h4>
        {% render_table table %}

        <div id="footer_content">
            &copy; {% now "Y" %} <a href="https://psmontag.ru/">ООО ПКФ "ПРОМ-СПЕКТР”</a>
        </div>
    </body>
</html>
