{% extends "calc/base_calc.html" %}
{% load i18n %}
{% load django_tables2 %}
{% load names %}
{% load forms %}

{% block title %}
    {{ block.super }} - {{ view.model|verbose_name_plural }}
{% endblock %}

{% block calc_header %}
    <h2>{{ view.model|verbose_name_plural }}</h2>
{% endblock %}

{% block calc_button %}
    <a href="{% url 'calc:order:create' %}" class="button button-primary">{% trans "Create" %}</a>
{% endblock %}

{% block calc_content %}
    {% if filter %}
        <form action="" method="get" class="inline">
            {% csrf_token %}
            {{ filter.form.as_table }}
            <input value="{% trans "Filter" %}" type="submit" />
        </form>
    {% endif %}
    {% if table %}
        {% trans "Delete" as action_verbose %}
        {% action_table_form table button_class='button button-primary' action_verbose=action_verbose %}
    {% endif %}
{% endblock %}
