{% load static %}
{% load i18n %}
{% load django_tables2 %}
{% load names %}

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="UTF-8">
        <title>{{ order|verbose_name }} {{order.pk}}</title>
        {% include "pdfstyle.html" %}
    </head>
    <body>
        <div id="header_content">
            <div align="right">
                {% trans "Document created" %}: {% now "j E Y H:i" %}
            </div>
        </div>

        <h2 align="center">Пром-Спектр</h2>

        <h3>{{ order|verbose_name }}: {{ order.pk }}</h3>

        <strong>{% field_verbose_name order 'author' %}:</strong> {{ order.author.get_full_name }} </BR>
        <strong>{% field_verbose_name order 'client' %}:</strong> {{ order.client }} </BR>
        <strong>{% field_verbose_name order 'branch' %}:</strong> {{ order.branch.name }} ({{ order.branch.settlement }}, {{ order.branch.address }}) </BR>
        <strong>{% field_verbose_name order 'factor' %}:</strong> {{ order.factor }} </BR>
        <strong>{% trans "Equipment price" %}:</strong> {{ order.equipment_price }} </BR>
        <strong>{% trans "Work price" %}:</strong> {{ order.work_price }} </BR>
        <strong>{% trans "Total price" %}:</strong> {{ order.price }} </BR>
        </BR>
        <strong>{% field_verbose_name order 'created' %}:</strong> {{ order.created }} </BR>
        <strong>{% field_verbose_name order 'modified' %}:</strong> {{ order.modified }} </BR> </BR>

        <h4>{% field_verbose_name order 'services' %}</h4>

        {% render_table table %}
        <div id="footer_content">
            &copy; {% now "Y" %} <a href="https://psmontag.ru/">ООО ПКФ "ПРОМ-СПЕКТР”</a>
        </div>
    </body>
</html>
