{% extends "calc/base_calc.html" %}
{% load static %}
{% load i18n %}
{% load django_tables2 %}
{% load names %}
{% load forms %}

{% block title %}
    {{ block.super }} - {{ view.model|verbose_name_plural }}
{% endblock %}

{% block calc_header %}
    <h2>{{ view.model|verbose_name_plural }}</h2>
{% endblock %}

{% block calc_button %}
    {% if filter %}
        <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#filters">{% trans 'Filters' %}</button>
    {% endif %}
    <a href="{% url 'calc:orderoption:create' %}" class="btn btn-outline-primary">{% trans "Create" %}</a>
{% endblock %}

{% block calc_content %}
    {% if filter %}
        {% filter_form filter %}
    {% endif %}
    {% if table %}
        {% trans "Delete" as action_verbose %}
        {% action_table_form table button_class='btn btn-outline-secondary' action_verbose=action_verbose %}
    {% endif %}
{% endblock %}

{% block body %}
    <script type="text/javascript" src="{% static 'site/js/calc/orderoption_list.js' %}" defer></script>
{% endblock %}
