{% extends "calc/base_calc.html" %}
{% load staticfiles %}
{% load i18n %}
{% load forms %}
{% load names %}

{% block title %}
    {{ block.super }}
    {% if order %}
        - {% trans "Edit" %}
    {% else %}
        - {% trans "Create" %}
    {% endif %}
    {{ view.model|verbose_name|lower }}
{% endblock %}

{% block head %}
    {% if not order %}
        <link rel="stylesheet" type="text/css" href="{% static 'site/css/datatables.min.css' %}">
    {% endif %}
{% endblock %}

{% block content %}
    {% if order %}
        {% trans "Edit" as action_verbose %}
        {% form order.get_update_url action_verbose %}
    {% else %}
        {% trans "Create" as action_verbose %}
        {% url 'calc:order:create' as form_url %}
        {% form form_url action_verbose %}
        <script type="text/javascript" src="{% static 'site/js/datatables.min.js' %}" defer></script>
        <script type="text/javascript" src="{% static 'site/js/core-jquery-action-table.js' %}" defer></script>
        <script type="text/javascript" src="{% static 'site/js/calc-order_form_create.js' %}" defer></script>
    {% endif %}
{% endblock %}

{% block body %}
    <script type="text/javascript" src="{% static 'site/js/calc-order_form.js' %}" defer></script>
{% endblock %}
