{% extends "calc/base_calc.html" %}
{% load i18n %}
{% load names %}
{% load prettyfy %}

{% block title %}
    {{ block.super }} – {{ service|verbose_name }}: {{ service.equipment }}
{% endblock %}

{% block calc_header %}
    <h2>{{ service|verbose_name }}</h2>
{% endblock %}

{% block calc_button %}
    {% if request.user.is_superuser %}
        <a href="{{ service.get_update_url }}" class="btn btn-outline-primary">{% trans "Edit" %}</a>
        <a href="{{ service.get_delete_url }}" class="btn btn-outline-secondary">{% trans "Delete" %}</a>
    {% endif %}
{% endblock %}

{% block calc_content %}
    <article>
        <div class="row">
            <div class="col-5">
                <dl>
                    <dt><strong>{% field_verbose_name service 'equipment' %}:</strong></dt>
                    <dd>{{ service.equipment }}</dd>
                    <dt><strong>{% field_verbose_name service 'equipment_price' %}:</strong></dt>
                    <dd>{{ service.equipment_price }}</dd>
                    <dt><strong>{% field_verbose_name service 'work' %}:</strong></dt>
                    <dd>{{ service.work }}</dd>
                    <dt><strong>{% field_verbose_name service 'work_price' %}:</strong></dt>
                    <dd>{{ service.work_price }}</dd>
                    <dt><strong>{% field_verbose_name service 'work_duration' %}:</strong></dt>
                    <dd>{{ service.work_duration|duration }}</dd>
                    <dt><strong>{% field_verbose_name service 'rating' %}:</strong></dt>
                    <dd>{{ service.rating }}</dd>
                    <dt><strong>{% field_verbose_name service 'price' %}:</strong></dt>
                    <dd>{{ service.price }}</dd>
                </dl>
            </div>
        </div>
    </article>
{% endblock %}
