{% extends "calc/base_calc.html" %}
{% load i18n %}
{% load names %}

{% block title %}
    {{ block.super }} – {{ service|verbose_name }}: {{ service.equipment }}
{% endblock %}

{% block calc_header %}
    <h5>{{ service|verbose_name }}: {{ service.equipment }}</h5>
{% endblock %}

{% block calc_button %}
    <a href="{{ service.get_update_url }}" class="button">{% trans "Edit" %}</a>
    <a href="{{ service.get_delete_url }}" class="button">{% trans "Delete" %}</a>
{% endblock %}

{% block calc_content %}
    <article>
        <div class="row">
            <div class="one column"></div>
            <div class="ten columns">
                <dl>
                    <dt><strong>{% field_verbose_name service 'equipment' %}:</strong></dt>
                    <dd>{{ service.equipment }}</dd>
                    <dt><strong>{% field_verbose_name service 'equipment_price' %}:</strong></dt>
                    <dd>{{ service.equipment_price }}</dd>
                    <dt><strong>{% field_verbose_name service 'work' %}:</strong></dt>
                    <dd>{{ service.work }}</dd>
                    <dt><strong>{% field_verbose_name service 'work_price' %}:</strong></dt>
                    <dd>{{ service.work_price }}</dd>
                    <dt><strong>{% trans "Total" %}:</strong></dt>
                    <dd>{{ service.price }}</dd>
                </dl>
            </div>
        </div>
    </article>
{% endblock %}
