{% extends "client/base_client.html" %}
{% load i18n %}
{% load names %}
{% load forms %}

{% block title %}
    {{ block.super }} – {{ branch|verbose_name }}: {{ branch }}
{% endblock %}

{% block client_header %}
    <h5>{{ branch|verbose_name }}: {{ branch.name }}</h5>
{% endblock %}

{% block client_button %}
    <a href="{{ branch.get_update_url }}" class="button">{% trans "Edit" %}</a>
    <a href="{{ branch.get_delete_url }}" class="button">{% trans "Delete" %}</a>
{% endblock %}

{% block client_content %}
    <article>
        <div class="row">
            <div class="one column"></div>
            <div class="ten columns">
                <dl>
                    <dt><strong>{% field_verbose_name branch 'name' %}:</strong></dt>
                    <dd>{{ branch.name }}</dd>
                    <dt><strong>{% field_verbose_name branch 'client' %}:</strong></dt>
                    <dd><a href="{{ branch.client.get_absolute_url }}">{{ branch.client.name }}</a></dd>
                    <dt><strong>{% field_verbose_name branch 'address' %}:</strong></dt>
                    <dd>{{ branch.address }}</dd>
                    <dt><strong>{% field_verbose_name branch 'orders' %}:</strong></dt>
                    <dd>{{ branch.number_of_orders }}</dd>
                </dl>
            </div>
        </div>
        <div class="row">
            <div class="six columns">
                <h5>{% field_verbose_name branch 'orders' %}</h5>
            </div>
            <div class="u-pull-right">
                <a href="{% url 'client:branch:order_create' client_slug=branch.client.slug branch_pk=branch.pk %}" class="button">{% trans "Create" %}</a>
            </div>
        </div>
        {% if table %}
            {% trans "Delete" as action_verbose %}
            {% action_table_form table button_class='button button-primary' action_verbose=action_verbose %}
        {% endif %}
    </article>
{% endblock %}
