{% extends "client/base_client.html" %}
{% load i18n %}
{% load names %}
{% load forms %}

{% block title %}
    {{ block.super }} – {{ branch|verbose_name }}: {{ branch }}
{% endblock %}

{% block client_header %}
    <h2>{{ branch|verbose_name }}</h2>
{% endblock %}

{% block client_button %}
    <a href="{{ branch.get_update_url }}" class="btn btn-outline-primary">{% trans "Edit" %}</a>
    <a href="{{ branch.get_delete_url }}" class="btn btn-outline-secondary">{% trans "Delete" %}</a>
{% endblock %}

{% block client_content %}
    <article>
        <div class="row">
            <div class="col-5">
                <dl>
                    <dt><strong>{% field_verbose_name branch 'name' %}:</strong></dt>
                    <dd>{{ branch.name }}</dd>
                    <dt><strong>{% field_verbose_name branch 'client' %}:</strong></dt>
                    <dd><a href="{{ branch.client.get_absolute_url }}">{{ branch.client.name }}</a></dd>
                    <dt><strong>{% field_verbose_name branch 'address' %}:</strong></dt>
                    <dd>{{ branch.settlement }}, {{ branch.address }}</dd>
                    <dt><strong>{% field_verbose_name branch 'orders' %}:</strong></dt>
                    <dd>{{ branch.number_of_orders }}</dd>
                </dl>
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col">
                <h2>{% field_verbose_name branch 'orders' %}</h2>
            </div>
            <div class="col-auto">
                <a href="{% url 'client:branch:order_create' client_slug=branch.client.slug branch_pk=branch.pk %}" class="btn btn-outline-primary">{% trans "Create" %}</a>
            </div>
        </div>
        {% if table %}
            {% trans "Delete" as action_verbose %}
            {% action_table_form table button_class='btn btn-outline-secondary' action_verbose=action_verbose %}
        {% endif %}
    </article>
{% endblock %}
