{% extends "client/base_client.html" %}
{% load i18n %}
{% load django_tables2 %}
{% load names %}
{% load forms %}

{% block title %}
    {{ block.super }} - {{ view.model|verbose_name_plural }}
{% endblock %}

{% block client_button %}
    <a href="{% url 'client:branch:create' client_slug=client.slug %}" class="button button-primary">{% trans "Create" %}</a>
{% endblock %}

{% block client_header %}
    <h2>{{ view.model|verbose_name_plural }}</h2>
{% endblock %}

{% block client_content %}
    {% if filter %}
        <form action="" method="get" class="inline">
            {% csrf_token %}
            {{ filter.form.as_table }}
            <input value="{% trans "Filter" %}" type="submit" />
        </form>
    {% endif %}
    {% if table %}
        {% trans "Delete" as action_verbose %}
        {% action_table_form table button_class='button button-primary' button_name='branch-table-button' button_value='branch-table-column-item' action_verbose=action_verbose %}
    {% endif %}
{% endblock %}
