{% extends "client/base_client.html" %}
{% load i18n %}
{% load django_tables2 %}
{% load names %}

{% block title %}
    {{ block.super }} - {{ view.model|verbose_name_plural }}
{% endblock %}

{% block client_button %}
    <a href="{% url 'client:create' %}" class="button button-primary">{% trans "Create" %}</a>
{% endblock %}

{% block client_header %}
    <h2>{{ view.model|verbose_name_plural }}</h2>
{% endblock %}

{% block client_content %}
{% if filter %}
    <form action="" method="get" class="inline">
        {{ filter.form.as_table }}
        <input value="{% trans "Filter" %}" type="submit" />
    </form>
{% endif %}
    {% render_table table %}
{% endblock %}
