{% extends "client/base_client.html" %}
{% load static %}
{% load i18n %}
{% load forms %}
{% load names %}

{% block title %}
    {{ block.super }}
    {% if client %}
        - {% trans "Edit" %}
    {% else %}
        - {% trans "Create" %}
    {% endif %}
    {{ view.model|verbose_name|lower }}
{% endblock %}

{% block content %}
    {% if client %}
        {% trans "Edit" as action_verbose %}
        {% form client.get_update_url action_verbose %}
    {% else %}
        {% trans "Create" as action_verbose %}
        {% url 'client:create' as form_url %}
        {% form form_url action_verbose %}
    {% endif %}
{% endblock %}

{% block body %}
    <script type="text/javascript" src="{% static 'site/js/client-client_form.js' %}" defer></script>
{% endblock %}
