{% extends "client/base_client.html" %}
{% load i18n %}
{% load names %}

{% block title %}
    {{ block.super }} – {{ client|verbose_name }}: {{ client }}
{% endblock %}

{% block client_header %}
    <h5>{{ client|verbose_name }}: {{ client.name }}</h5>
{% endblock %}

{% block client_button %}
    <a href="{{ client.get_update_url }}" class="button">{% trans "Edit" %}</a>
    <a href="{{ client.get_delete_url }}" class="button">{% trans "Delete" %}</a>
{% endblock %}

{% block client_content %}
    <article>
        <div class="row">
        <div class="one column"></div>
            <div class="ten columns">
                <dl>
                    <dt><strong>{% field_verbose_name client 'name' %}:</strong></dt>
                    <dd>{{ client.name }}</dd>
                    <dt><strong>{% field_verbose_name client 'details' %}:</strong></dt>
                    <dd>{{ client.details }}</dd>
                    <dt><strong>{% trans "Number of orders" %}:</strong></dt>
                    <dd>{{ client.number_of_orders }}</dd>
                </dl>
            </div>
        </div>
    </article>
{% endblock %}
