{% load staticfiles %}
{% load django_tables2 %}

<link rel="stylesheet" type="text/css" href="{% static 'site/css/datatables.min.css' %}">
<form acrion="{{ action|default:'' }}" method="{{ method|default:'post' }}">
    {% csrf_token %}
    {% render_table table %}
    <button type="{{ button_type|default:'submit' }}"
            class="{{ button_class|default:'button' }}"
            name="{{ button_name|default:'action-table-button' }}"
            value="{{ button_value|default:'action-table-column-item' }}"
            disabled>
        {{ action_verbose|default:'Submit' }}
    </button>
</form>
<script type="text/javascript" src="{% static 'site/js/action-table.js' %}" defer></script>
<script type="text/javascript" src="{% static 'site/js/datatables.min.js' %}" defer></script>
