{% load i18n %}

<form action="{{ action }}" method="{{ method|default:'post' }}">
    <div class="row justify-content-center">
        <div class="col-auto">
            {% csrf_token %}
            <p>{% trans "Are you sure you want to delete" %} {{ object_type|lower }}: "{{ object_name }}"?</p>
        </div>
    </div>
    <div class="form-group row justify-content-between">
        <div class="col">
            <button class="btn btn-outline-secondary" type="submit">{% trans "Delete" %} {{ object_type }}</button>
        </div>
        <div class="col-auto">
            <a href="{{ object.get_absolute_url }}" class="btn btn-outline-primary">{% trans "Cancel" %}</a>
        </div>
    </div>
</form>
