{% load staticfiles %}
{% load i18n %}

<table id="{{ formset.prefix }}_table">
    {{ formset.management_form }}
    {% for form in formset.forms %}
        {% if forloop.first %}
            <thead id="{{ formset.prefix }}_table_head">
                <tr>
                    {% for field in form.visible_fields %}
                        <th>{{ field.label }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody id="{{ formset.prefix }}_table_body">
        {% endif %}

        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <tr>
                    <td colspan="{{ form.visible_fields | length }}">
                        <span class="error">{{ error }}</span>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}

        {% if form.hidden_fields %}
            {% for hidden in form.hidden_fields %}
                <tr style="display: none;">
                    <td colspan="{{ form.visible_fields | length }}">
                        {{ hidden }}
                    </td>
                </tr>
            {% endfor %}
        {% endif %}

        {% if form.errors %}
            <tr>
                {% for field in form.visible_fields %}
                    <td>
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <span class="error">{{ error }}</span>
                            {% endfor %}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endif %}

        <tr>
            {% for field in form.visible_fields %}
                <td style="text-align: left;">
                    {{ field }}
                </td>
            {% endfor %}
        </tr>
    {% empty %}
        <tbody id="{{ formset.prefix }}_table">
    {% endfor %}
        </tbody>
</table>

<table id="{{ formset.prefix }}_empty_form_table">
    <tbody id="{{ formset.prefix }}_empty_form_table_body" style="display:none">
        {% if formset.empty_form.non_field_errors %}
            {% for error in formset.empty_form.non_field_errors %}
                <tr>
                    <td colspan="{{ formset.empty_form.visible_fields | length }}">
                        <span class="error">{{ error }}</span>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}

        {% if formset.empty_form.hidden_fields %}
            {% for hidden in formset.empty_form.hidden_fields %}
                <tr style="display: none;">
                    <td colspan="{{ formset.empty_form.visible_fields | length }}">
                        {{ hidden }}
                    </td>
                </tr>
            {% endfor %}
        {% endif %}

        {% if formset.empty_form.errors %}
            <tr>
                {% for field in formset.empty_form.visible_fields %}
                    <td>
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <span class="error">{{ error }}</span>
                            {% endfor %}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endif %}

        <tr>
            {% for field in formset.empty_form.visible_fields %}
                <td style="text-align: left;">
                    {{ field }}
                </td>
            {% endfor %}
        </tr>
    </tbody>
</table>

<script type="text/javascript" src="{% static 'site/js/formset-dynamic.js' %}" defer></script>
<input type="button" value="{% trans 'Add' %}" onclick="add_form('{{ formset.prefix }}', '{{ formset.prefix }}_empty_form_table_body', '{{ formset.prefix }}_table_body')">
